	article{
		margin-bottom: 20px;
		background-color:white;
		padding: 15px;
		border-style: solid;
		border-width: 1px;
		border-color: #C0C0C0;
		border-radius: 4px;
		
	}
	body{
		background-image: url('pics/stripe2.png');
		background-repeat: repeat;
		background-attachment: fixed;
	}
	h1, h2{
		font-family: 'Roboto Slab', serif;
		margin-top: 5px;
	}
	h2{
		margin-bottom: 5px;
		color: #707070;
		font-weight: 400;
		display:inline;
		font-size: 24px;
		transition: linear .1s;
	}
	h2:hover{
		color: #303030;
	}
	h1{
		font-size: 36px;
		margin-bottom: 20px;
		font-weight: 400;
	}
	p{
		font-family: "Source Sans Pro", serif;
		margin-top: 5px;
		vertical-align: top;
		font-size: 24px;
		line-height: 1.4em;
	}
	time{
		font-family: "Source Sans Pro", sans-serif;
	}
	img{
		padding: 5px;
		border-style: solid;
		border-width: 1px;
		border-color: #C0C0C0;
		margin: 5px;
		background-color: white;
		max-width: 95%;
	}
	a{
		text-decoration: none;
		color: #333333;
		transition: linear .1s;
	}
	a:hover{
		color: #666666;
	}
	hr{
		color: #C0C0C0;
	}
	.artpic{
		box-shadow: 3px 3px 5px #A0A0A0;
		transition: linear .1s;
	}
	.artpic:hover{
		-webkit-transform: rotate(1deg);
		-moz-transform: rotate(1deg);
		-o-transform: rotate(1deg);
		-ms-transform: rotate(1deg);
		transform: rotate(1deg);
	}
	.date{
		padding-right: 5px;
		margin-right: 10px;
		float: left;
		color: #C0C0C0;
	}
	.content,  .date{
		vertical-align: top;
	} 
	.collapse{
		font-size: 24px;
		float: right;
		cursor: pointer;
	}
	.title{
		display: inline;	
	}
	#container{
		max-width: 50em;
		margin-left: auto;
		margin-right: auto;
		transition: linear .1s;
	}
	
	#sidepic{
		border-radius: 100%;
		margin-left: 0px;
	}
	#sidebar{
		border-radius: 4px;	
		position: fixed;
		max-width: 200px;
		margin-left: auto;
		margin-right: auto;
		padding: 10px;
		border-style: solid;
		background-color: white;
		border-width: 1px;
		border-color: #C0C0C0;
	}
	#sideTitle{
		font-size: 2em;
	}
	strong{
		font-weight: 600;
	}
	@media (max-width: 1280px){
		#sidebar{
			position: relative;
			max-width: 50em;
			margin-bottom: 10px;
			padding: 0px;

		}
	}
	@media (min-resolution: 2dppx) and (max-width: 1080px){
		#sidebar{
			max-width: 100%;
		}
		#container{
			max-width: 100%;
			width: 100%;
		}
	}